/* ------- import general CSS  ------- */
@import "style.css";


/*  ------- define page main color  ------- */
:root{
    --main-color: var(--green);
}


/*  ------- the symbol '-' apprears before each list item  ------- */
ul {
  list-style-type: '-  ';
  margin: 0;
  padding: 0;
}
