/* ------- import general CSS  ------- */
@import "style.css";


/*  ------- define page main color  ------- */
:root {
  --main-color: var(--yellow);
}


/* ------- I volontari's carousel ------- */
.slick-dots button {
  background-color: var(--white);
}

#carousel-stories .slick-dots button {
  background-color: var(--main-color);
}

/* ------- Le testimonianze's carousel ------- */
#carousel-stories .cdm-slick-carousel-item {
  background-color: var(--main-color);
  border-radius: 2rem;
  padding: 2rem;
}

#carousel-stories .slick-slide {
  height: inherit;
}


/* ------- media query to change style for devices larger than 760px ------- */
@media screen and (min-width: 760px) {
  #carousel-stories .cdm-slick-carousel, #carousel-stories .cdm-slick-carousel-item {
    max-width: 325px;
  }

  #carousel-stories .slick-slide:not(.slick-active) {
    opacity: 0.5;
  }
}


/* ------- media query to change style for devices larger than 990px ------- */
@media screen and (min-width: 990px) {
  #carousel-stories .slick-slide:not(.slick-active) {
    opacity: 1;
  }
}