/* ------- import general CSS  ------- */
@import "style.css";


/*  ------- define page main color  ------- */
:root {
  --main-color: var(--red);
}


/*  ------- carousel  ------- */
.slick-dots button {
  background-color: var(--white);
}


/*  ------- baloons  ------- */
.cdm-baloon svg path {
  fill: var(--main-color);
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.cdm-baloon {
  max-width: 100%;
  max-height: 100%;
}
