/* Import general CSS*/

@import url('style.css');

/*Define page main color*/

:root {
    --main-color: var(--red);
}

.cdm-title-1 span {
    font: inherit;
}

.cdm-baloon {
    max-width: 30vw;
    max-height: 30vw;
}

.cdm-green-wave{
  fill: var(--green);
}

@media screen and (min-width: 760px) {
    .cdm-baloon {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}
