:root {
    --blue:#97D4ED;

    --red: #E58F91;
    
    --yellow: #E7CF70;

    --green: #B0D066;

    --white: #FFFFFF;

    --text-grey: #39454C;

    --primary: #FFFFFF;
}

.text-grey{
    color: var(--text-grey);
}

.image-rounded{
    border-color: var(--main-color);
}

.wave{
    background-color: var(--main-color);
}

