    /* import font Quicksand & Quicksand*/
    
    @import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Quicksand&display=swap');
    /* Color palette */
    
     :root {
        --blue: #97D4ED;
        --red: #E58F91;
        --yellow: #E7CF70;
        --green: #B0D066;
        --white: #FFFFFF;
        --text-grey: #39454C;
        --light-grey: #F2F0F0;
    }
    /*Rest Browser default style and general setting*/
    
    *,
    *:active {
        box-sizing: border-box !important;
        font-family: "Quicksand", sans serif;
        font-weight: 500;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    /*TEXT*/
    
    .cdm-title-1 {
        font-family: "Grandstander", cursive;
        font-weight: 700;
        color: var(--main-color);
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 0.2rem;
        margin-top: 3rem;
    }
    
    .cdm-title-2 {
        font-family: "Grandstander", cursive;
        font-weight: 600;
        color: var(--text-grey);
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    
    .cdm-title-3 {
        font-family: "Quicksand", sans serif;
        font-weight: 700;
        color: var(--text-grey);
        font-size: 1.25rem;
    }
    
    .cdm-paragraph {
        font-family: "Quicksand", sans serif;
        font-weight: 550;
        color: var(--text-grey);
        font-size: 1rem;
    }
    /*SECTIONS*/
    
    .cdm-section {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    /*BUTTON*/
    
    .cdm-btn {
        display: block;
        border-radius: 2rem;
        padding: 1rem 2rem;
        font-weight: 700;
        -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    .cdm-btn-normal,
    .cdm-btn-reverse:hover {
        background-color: var(--main-color);
        color: var(--white);
        border: 2px solid var(--main-color);
        text-decoration: none;
    }
    
    .cdm-btn-reverse:hover {
        border: 2px solid var(--white);
    }
    
    .cdm-btn-reverse,
    .cdm-btn-normal:hover {
        background-color: var(--white);
        border: 2px solid var(--white);
        color: var(--main-color);
        text-decoration: none;
    }
    
    .cdm-btn-normal:hover {
        border: 2px solid var(--main-color);
    }
    /*IMAGES*/
    
    .img {
        max-width: 100%;
    }
    
    .cdm-img {
        object-fit: cover;
        border-radius: 2rem;
        margin: 0 1.5em;
    }
    /*BALOONS*/
    /*The class of the div that contain svg of baloon. It is a circle and you can add a backgroud color*/
    
    .cdm-baloon {
        width: 12.5rem;
        /*How to change?*/
        height: 12.5rem;
        border-radius: 50%;
        text-align: center;
    }
    /*The class of the svg baloon*/
    
    .cdm-baloon svg {
        max-width: 100%;
        max-height: 100%;
        padding: 0.75rem;
    }
    /*Class in which you can fill the baloon with a different color*/
    
    .cdm-baloon svg path {
        fill: var(--white);
        fill-rule: evenodd;
        clip-rule: evenodd;
    }
    /* HEADER setting*/
    
    header {
        background-color: var(--white);
    }
    /* Setting of the header's shadow*/
    
    .cdm-shadow {
        -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    /* Logo width setting */
    
    .logo-img {
        max-width: 50vw;
    }
    /* Setting of the navbar toggler*/
    
    .navbar-toggler,
    .navbar-toggler:active {
        border: none !important;
        outline: none !important;
        color: var(--text-grey) !important;
    }
    /* Setting of the hamburger menu x icon */
    
    #ham-closed-icon {
        font-size: 1rem;
        color: var(--text-grey);
    }
    /*Setting of the menu items*/
    
    #cdm-ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.4rem;
    }
    
    #cdm-ul .nav-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #cdm-ul .nav-item .nav-link {
        width: 100%;
        height: 100%;
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        background-color: var(--blue);
        border: 2px solid var(--blue);
        margin: 0.2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*Setting of the donation button*/
    
    #cdm-donation-btn {
        background-color: var(--red);
        border-color: var(--red);
    }
    
    #cdm-donation-btn:hover {
        color: var(--red);
        background-color: var(--white);
    }
    /* Setting of the active menu items */
    
    #cdm-ul .nav-item .active,
    #cdm-ul .nav-link:hover {
        background-color: var(--white);
        border: 2px solid var(--blue);
        color: var(--blue);
    }
    
    .cdm-navbar-grey {
        background-color: var(--white);
        padding: 0;
    }
    /*WAVES*/
    
    .wave {
        display: block;
        fill: var(--main-color);
        z-index: -1;
    }
    /* Class of the div inside the two waves*/
    
    .wave-section {
        background-color: var(--main-color);
        z-index: -1;
        margin-top: -1px;
        margin-bottom: -1px;
    }
    /*CAROUSEL*/
    
    .cdm-carousel-section {
        padding-left: 0;
        padding-right: 0;
    }
    
    .cdm-carousel-section .cdm-title-2 {
        margin-left: 15px;
    }
    
    .cdm-slick-carousel,
    .slick-list,
    .slick-track {
        width: 100%;
    }
    
    .slick-track {
        display: flex !important;
        justify-content: space-between;
    }
    
    .cdm-slick-carousel .cdm-slick-carousel-item {
        margin: 1rem;
    }
    
    .cdm-slick-carousel .cdm-slick-carousel-item .cdm-img {
        margin: 0;
    }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem 0;
        list-style-type: none;
    }
    
    .slick-dots li {
        margin: 0 0.25rem;
    }
    
    .slick-dots button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: var(--yellow);
        text-indent: -9999px;
    }
    
    .slick-dots .slick-active {
        transform: scale(1.5);
    }
    
    .slick-slide,
    .slick-dots button,
    .slick-slide a,
    .slick-active {
        outline: none;
    }
    
    .slick-slide:not(.slick-active) {
        opacity: 0.5;
    }
    /*FORMS*/
    
    .form-control:focus {
        border-color: var(--light-grey);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 8px rgba(48, 48, 48, 0.6);
    }
    
    .cdm-form {
        border: var(--white) solid 3px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 4rem;
    }
    
    .cdm-form textarea {
        min-height: 8rem;
    }
    
    .cdm-form input,
    .cdm-form textarea {
        border-radius: 1.5rem;
    }
    /*FOOTER*/
    
    footer {
        background-color: var(--text-grey);
        color: var(--white);
        font-size: 0.75rem;
        text-align: center;
    }
    
    .cmd-foo-title {
        color: var(--white);
        font-size: 1rem;
    }
    
    footer img {
        max-height: 5rem;
    }
    
    footer .row {
        padding: 1.5rem;
    }
    /*Footer icons style*/
    
    footer i {
        font-size: 1.5rem;
        color: var(--white);
    }
    
    footer i:hover {
        color: var(--blue);
    }
    /*Colors classes*/
    
    .cdm-text-red {
        color: var(--red);
    }
    
    .cdm-text-green {
        color: var(--green);
    }
    
    .cdm-text-blue {
        color: var(--blue);
    }
    
    .cdm-text-yellow {
        color: var(--yellow);
    }
    
    .cdm-yellow {
        background-color: var(--yellow);
    }
    
    .cdm-red {
        background-color: var(--red);
    }
    
    .cdm-green {
        background-color: var(--green);
    }
    
    .cdm-blue {
        background-color: var(--blue);
    }
    /* Media Query to hide the hamburger menu from the desktop and tablet version of the site*/
    
    @media screen and (min-width: 760px) {
        .cdm-title-1 {
            font-size: 3rem;
            margin-top: 3.5rem;
            padding: 1rem 0;
        }
        .cdm-navbar-grey {
            background-color: var(--light-grey);
            /* Media Query to change the background color of the menu */
        }
        #cdm-ul .nav-item .nav-link {
            margin: 0 0.1rem;
        }
        #cdm-ul {
            margin-bottom: 0;
        }
        #cdm-logo-desktop {
            /* Media Query to change the size of the logo of the menu */
            padding: 0.5rem;
            height: 6rem;
        }
        .cdm-img {
            margin: 0;
        }
        /*CAROUSEL*/
        .cdm-slick-carousel .cdm-slick-carousel-item {
            max-width: 210px;
            opacity: 1;
        }
    }
    
    @media screen and (min-width: 990px) {
        .cdm-slick-carousel .cdm-slick-carousel-item {
            max-width: 255px;
        }
    }